<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfs.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.cfs.entities.Course">
        <id column="id" property="id"></id>
        <result column="number" property="number"></result>
        <result column="credit" property="credit"></result>
        <result column="type" property="type"></result>
        <result column="course_name" property="courseName"></result>
        <result column="mode" property="mode"></result>
        <result column="creater_id" property="createrId"></result>
    </resultMap>

    <insert id="add">
        insert into course
        values(#{id},#{number},#{credit},#{type},#{courseName},#{mode},#{createrId})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from course
    </select>

    <select id="getChapters" resultType="com.cfs.entities.Chapter">
        select * from chapter
        where course_id = #{courseId}
    </select>

    <select id="getModulars" resultType="com.cfs.entities.Modular">
        select * from modular
        where course_id = #{courseId}
    </select>

    <select id="getCourseById" resultMap="BaseResultMap">
        select * from course
        where id=#{courseId}
    </select>

    <select id="getChapter" resultType="com.cfs.entities.Chapter">
        select * from chapter
        where course_id=#{courseId}
    </select>

    <insert id="addCourseToStu">
        insert into course_teacher_stu
        values(null,#{courseId},#{teacherId},#{studentId})
    </insert>

    <insert id="addModular">
        insert into modular
        values(null,#{courseId},#{modularName})
    </insert>

    <insert id="addChapter">
        insert into chapter
        values(null,#{courseId},#{chapName})
    </insert>

    <update id="update">
        update course
        set number = #{number},
            credit = #{credit},
            type = #{type},
            course_name = #{courseName},
            mode = #{mode}
        where id = #{id}
    </update>

    <delete id="deleteChapter">

           delete question_public_sc,chapter from question_public_sc
           left join chapter
           on chapter.id = question_public_sc.chapter_id
           where chapter.course_id = #{courseId} AND chapter.chap_name = #{chapName}

    </delete>

    <delete id="deleteModular">

        delete question_public_sc,modular from question_public_sc
        left join modular
        on modular.id = question_public_sc.modular_id
        where modular.course_id = #{courseId} AND modular.modular_name = #{modularName}

    </delete>

    <update id="updateModular">
        update modular
        set modular_name=#{modularName}
        where id=#{modularId}
    </update>

    <update id="updateChapter">
        update chapter
        set chapter_name=#{chapterName}
        where id=#{chapterId}
    </update>

</mapper>