<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfs.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.cfs.entities.QuestionPublicSc">
        <id column="id" property="id"></id>
        <result column="text" property="text"></result>
        <result column="option1" property="option1"></result>
        <result column="option2" property="option2"></result>
        <result column="option3" property="option3"></result>
        <result column="option4" property="option4"></result>
        <result column="answer" property="answer"></result>
        <result column="creater_id" property="createrId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="chapter_id" property="chapterId"></result>
        <result column="modular_id" property="modularId"></result>
        <result column="diffculyt" property="diffculyt"></result>
        <result column="examine" property="examine"></result>
        <result column="examiner_id" property="examinerId"></result>
        <result column="examiner_time" property="examinerTime"></result>
    </resultMap>

    <insert id="insert">
        insert into question_public_sc(id, text, option1, option2, option3, option4, answer, creater_id, create_time, chapter_id, modular_id, diffculyt, examine, examiner_id, examine_time)
        values(#{id},#{text},#{option1},#{option2},#{option3},#{option4},#{answer},#{createrId},#{createTime},#{chapterId},#{modularId},#{diffculyt},null,null,null)
    </insert>

    <select id="get" resultMap="BaseResultMap">
        select * from question_public_sc
        where id=#{id}
    </select>

    <delete id="delete">
        delete from question_public_sc
        where id = #{id}
    </delete>

    <select id="getAll" resultMap="BaseResultMap">
        select * from question_public_sc
    </select>

    <select id="getUserRoleById" resultType="java.lang.Integer">
        select role from teacher
        where id=#{userId}
    </select>

    <update id="update">
        update question_public_sc
        set text = #{text},
            option1 = #{option1},
            option2 = #{option2},
            option3 = #{option3},
            option4 = #{option4},
            answer = #{answer},
            chapter_id = #{chapterId},
            modular_id = #{modularId},
            diffculyt = #{diffculyt}
        where id = #{id}
    </update>

    <select id="getQuesWithoutExamByCId" resultMap="BaseResultMap">
        select * from question_public_sc
        where chapter_id in(
            select chapter_id from chapter
            where course_id=#{courseId}
            )
    </select>

    <update id="updateExamine">
        update question_public_sc
        set examine=#{result},examiner_id=#{userId},examine_time=#{examineTime}
        where id=#{questionId}
    </update>
</mapper>